In [19]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\prabh\appdata\local\programs\python\python311\lib\site-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in c:\users\prabh\appdata\local\programs\python\python311\lib\site-packages (from pyspark) (0.10.9.5)

In [3]:
import pyspark

In [20]:
python.exe -m pip install --upgrade pip

SyntaxError: invalid syntax (842801469.py, line 1)

In [4]:
import pandas as pd

In [3]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.5.2-cp311-cp311-win_amd64.whl (10.3 MB)
     ---------------------------------------- 10.3/10.3 MB 4.3 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\prabh\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2022.7-py2.py3-none-any.whl (499 kB)
     -------------------------------------- 499.4/499.4 kB 2.6 MB/s eta 0:00:00
Collecting numpy>=1.21.0
  Downloading numpy-1.24.1-cp311-cp311-win_amd64.whl (14.8 MB)
     ---------------------------------------- 14.8/14.8 MB 1.8 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\prabh\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.24.1 pandas-1.5.2 pytz-2022.7

In [21]:
pd.read_csv("NameAge.csv")

            Name  Age  Weight
0        Prabhas   22      90
1        Vignesh   23      75
2        Khaleel   24      74
3         Harsha   23      78
4     JayPrakash   22      65
5         Vamshi   25      70
6          Shiva   25      66
7        Manohar   21      71
8       shashank   23      70
9          Vijay   21      70
10        Naveen   26      60
11       Goutham   28      88
12        Harish   27      87
13        Sravan   22      55
14          Teja   20      55
15        Vikram   20      57
16         Kiran   24      60
17      Abhilash   22      60
18         Rahul   30      80
19      Varshith   28      76
20       Kaushik   19      86
21        Anurag   18      87
22        Vishwa   17      66
23  Ravindranadh   20      64
24         Madhu   26      85
25         Akhil   27      85
26        Kayode   23      65
27         Rohit   21      80
28           Ram   31      89
29        Satwik   24      87
30        Dinesh   25      80
31         Tarun   21      50
32        Nikhil   21      89
33         Rohan   27      80
34         Pavan   19      55
35     Sampreeth   26      89
36         Varun   20      80
37         Rahul   20      82
38        Naveen   17      57
39         Vijay   29      85

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark=SparkSession.builder.appName("practice").getOrCreate()

In [5]:
spark

In [6]:
data=[("Rishi","Rageer","USA","FL"),("Yashwanth","Kundarapu","USA","FL"),("Eshwar","Ambati","USA","NJ"),("Karthik","Bantupalli","USA","WI")]
columns=["Firstname","Lastname","Country","State"]
df=spark.createDataFrame(data=data,schema=columns)
df.show()
print(df.collect())

Py4JJavaError: An error occurred while calling o45.showString.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 0.0 failed 1 times, most recent failure: Lost task 0.0 in stage 0.0 (TID 0) (10.0.0.224 executor driver): org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:203)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:109)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:124)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:174)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:67)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(Unknown Source)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(Unknown Source)
	at java.lang.Thread.run(Unknown Source)
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.net.DualStackPlainSocketImpl.waitForNewConnection(Native Method)
	at java.net.DualStackPlainSocketImpl.socketAccept(Unknown Source)
	at java.net.AbstractPlainSocketImpl.accept(Unknown Source)
	at java.net.PlainSocketImpl.accept(Unknown Source)
	at java.net.ServerSocket.implAccept(Unknown Source)
	at java.net.ServerSocket.accept(Unknown Source)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:190)
	... 32 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2844)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2780)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2779)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2779)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1242)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1242)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1242)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:3048)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2982)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2971)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:984)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2398)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2419)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2438)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:530)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:483)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:61)
	at org.apache.spark.sql.Dataset.collectFromPlan(Dataset.scala:4344)
	at org.apache.spark.sql.Dataset.$anonfun$head$1(Dataset.scala:3326)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$2(Dataset.scala:4334)
	at org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:546)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$1(Dataset.scala:4332)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:201)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:108)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:66)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:4332)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:3326)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:3549)
	at org.apache.spark.sql.Dataset.getRows(Dataset.scala:280)
	at org.apache.spark.sql.Dataset.showString(Dataset.scala:315)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(Unknown Source)
	at java.lang.reflect.Method.invoke(Unknown Source)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.lang.Thread.run(Unknown Source)
Caused by: org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:203)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:109)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:124)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:174)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:67)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(Unknown Source)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(Unknown Source)
	... 1 more
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.net.DualStackPlainSocketImpl.waitForNewConnection(Native Method)
	at java.net.DualStackPlainSocketImpl.socketAccept(Unknown Source)
	at java.net.AbstractPlainSocketImpl.accept(Unknown Source)
	at java.net.PlainSocketImpl.accept(Unknown Source)
	at java.net.ServerSocket.implAccept(Unknown Source)
	at java.net.ServerSocket.accept(Unknown Source)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:190)
	... 32 more

In [25]:
df_pyspark=spark.read.csv('NameAge.csv')
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string]

In [28]:
df_pyspark=spark.read.option("header","true").csv("NameAge.csv",inferSchema=True)

In [29]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [30]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Weight: integer (nullable = true)

In [42]:
##actual type to read .csv files
df_pyspark=spark.read.csv("NameAge.csv",header=True,inferSchema=True)
df_pyspark.show()

+----------+---+------+
|      Name|Age|Weight|
+----------+---+------+
|   Prabhas| 22|    90|
|   Vignesh| 23|    75|
|   Khaleel| 24|    74|
|    Harsha| 23|    78|
|JayPrakash| 22|    65|
|    Vamshi| 25|    70|
|     Shiva| 25|    66|
|   Manohar| 21|    71|
|  shashank| 23|    70|
|     Vijay| 21|    70|
|    Naveen| 26|    60|
|   Goutham| 28|    88|
|    Harish| 27|    87|
|    Sravan| 22|    55|
|      Teja| 20|    55|
|    Vikram| 20|    57|
|     Kiran| 24|    60|
|  Abhilash| 22|    60|
|     Rahul| 30|    80|
|  Varshith| 28|    76|
+----------+---+------+
only showing top 20 rows

In [32]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Weight: integer (nullable = true)

In [35]:
df_pyspark.select(["Name","Weight"]).show()

+----------+------+
|      Name|Weight|
+----------+------+
|   Prabhas|    90|
|   Vignesh|    75|
|   Khaleel|    74|
|    Harsha|    78|
|JayPrakash|    65|
|    Vamshi|    70|
|     Shiva|    66|
|   Manohar|    71|
|  shashank|    70|
|     Vijay|    70|
|    Naveen|    60|
|   Goutham|    88|
|    Harish|    87|
|    Sravan|    55|
|      Teja|    55|
|    Vikram|    57|
|     Kiran|    60|
|  Abhilash|    60|
|     Rahul|    80|
|  Varshith|    76|
+----------+------+
only showing top 20 rows

In [37]:
## checking datatypes

df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Weight', 'int')]

In [38]:
df_pyspark.describe().show()

+-------+--------+------------------+------------------+
|summary|    Name|               Age|            Weight|
+-------+--------+------------------+------------------+
|  count|      40|                40|                40|
|   mean|    null|            23.175|              73.7|
| stddev|    null|3.5292731873247267|12.062231795875748|
|    min|Abhilash|                17|                50|
|    max|shashank|                31|                90|
+-------+--------+------------------+------------------+

In [46]:
### adding the columns
df_pyspark=df_pyspark.withColumn("After 2 years",df_pyspark["Age"]+2)

In [47]:
df_pyspark.show()

+----------+---+------+-------------+
|      Name|Age|Weight|After 2 years|
+----------+---+------+-------------+
|   Prabhas| 22|    90|           24|
|   Vignesh| 23|    75|           25|
|   Khaleel| 24|    74|           26|
|    Harsha| 23|    78|           25|
|JayPrakash| 22|    65|           24|
|    Vamshi| 25|    70|           27|
|     Shiva| 25|    66|           27|
|   Manohar| 21|    71|           23|
|  shashank| 23|    70|           25|
|     Vijay| 21|    70|           23|
|    Naveen| 26|    60|           28|
|   Goutham| 28|    88|           30|
|    Harish| 27|    87|           29|
|    Sravan| 22|    55|           24|
|      Teja| 20|    55|           22|
|    Vikram| 20|    57|           22|
|     Kiran| 24|    60|           26|
|  Abhilash| 22|    60|           24|
|     Rahul| 30|    80|           32|
|  Varshith| 28|    76|           30|
+----------+---+------+-------------+
only showing top 20 rows

In [48]:
## dropping the columns
df_pyspark=df_pyspark.drop("After 2 years")
df_pyspark.show()

+----------+---+------+
|      Name|Age|Weight|
+----------+---+------+
|   Prabhas| 22|    90|
|   Vignesh| 23|    75|
|   Khaleel| 24|    74|
|    Harsha| 23|    78|
|JayPrakash| 22|    65|
|    Vamshi| 25|    70|
|     Shiva| 25|    66|
|   Manohar| 21|    71|
|  shashank| 23|    70|
|     Vijay| 21|    70|
|    Naveen| 26|    60|
|   Goutham| 28|    88|
|    Harish| 27|    87|
|    Sravan| 22|    55|
|      Teja| 20|    55|
|    Vikram| 20|    57|
|     Kiran| 24|    60|
|  Abhilash| 22|    60|
|     Rahul| 30|    80|
|  Varshith| 28|    76|
+----------+---+------+
only showing top 20 rows

In [50]:
## Renaming the columns
df_pyspark.withColumnRenamed("Name","New Name").show()

+----------+---+------+
|  New Name|Age|Weight|
+----------+---+------+
|   Prabhas| 22|    90|
|   Vignesh| 23|    75|
|   Khaleel| 24|    74|
|    Harsha| 23|    78|
|JayPrakash| 22|    65|
|    Vamshi| 25|    70|
|     Shiva| 25|    66|
|   Manohar| 21|    71|
|  shashank| 23|    70|
|     Vijay| 21|    70|
|    Naveen| 26|    60|
|   Goutham| 28|    88|
|    Harish| 27|    87|
|    Sravan| 22|    55|
|      Teja| 20|    55|
|    Vikram| 20|    57|
|     Kiran| 24|    60|
|  Abhilash| 22|    60|
|     Rahul| 30|    80|
|  Varshith| 28|    76|
+----------+---+------+
only showing top 20 rows

In [74]:
df_pyspark=spark.read.csv("test1.csv",header=True,inferSchema=True)
df_pyspark.show()

+------------+----+------+
|        Name| Age|Weight|
+------------+----+------+
|     Prabhas|  22|    90|
|     Vignesh|  23|    75|
|     Khaleel|null|    74|
|      Harsha|  23|    78|
|  JayPrakash|  22|    65|
|      Vamshi|  25|    70|
|    shashank|  23|  null|
|       Vijay|  21|    70|
|      Sravan|  22|    55|
|        Teja|null|    55|
|    Abhilash|  22|    60|
|Ravindranadh|  20|  null|
|      Kayode|  23|    65|
|       Rohit|  21|  null|
|      Nikhil|null|    89|
|       Rohan|  27|    80|
|      Naveen|  17|    57|
|       Vijay|null|    85|
|        null|  56|  null|
|        null|null|   100|
+------------+----+------+

In [67]:
df_pyspark.na.drop().show()

+----------+---+------+
|      Name|Age|Weight|
+----------+---+------+
|   Prabhas| 22|    90|
|   Vignesh| 23|    75|
|    Harsha| 23|    78|
|JayPrakash| 22|    65|
|    Vamshi| 25|    70|
|     Vijay| 21|    70|
|    Sravan| 22|    55|
|  Abhilash| 22|    60|
|    Kayode| 23|    65|
|     Rohan| 27|    80|
|    Naveen| 17|    57|
+----------+---+------+

In [68]:
## drop(how="all")
df_pyspark.na.drop(how="all").show()

+------------+----+------+
|        Name| Age|Weight|
+------------+----+------+
|     Prabhas|  22|    90|
|     Vignesh|  23|    75|
|     Khaleel|null|    74|
|      Harsha|  23|    78|
|  JayPrakash|  22|    65|
|      Vamshi|  25|    70|
|    shashank|  23|  null|
|       Vijay|  21|    70|
|      Sravan|  22|    55|
|        Teja|null|    55|
|    Abhilash|  22|    60|
|Ravindranadh|  20|  null|
|      Kayode|  23|    65|
|       Rohit|  21|  null|
|      Nikhil|null|    89|
|       Rohan|  27|    80|
|      Naveen|  17|    57|
|       Vijay|null|    85|
|        null|  56|  null|
|        null|null|   100|
+------------+----+------+

In [69]:
## drop(how="any")-- same as default drop()
df_pyspark.na.drop(how="any").show()

+----------+---+------+
|      Name|Age|Weight|
+----------+---+------+
|   Prabhas| 22|    90|
|   Vignesh| 23|    75|
|    Harsha| 23|    78|
|JayPrakash| 22|    65|
|    Vamshi| 25|    70|
|     Vijay| 21|    70|
|    Sravan| 22|    55|
|  Abhilash| 22|    60|
|    Kayode| 23|    65|
|     Rohan| 27|    80|
|    Naveen| 17|    57|
+----------+---+------+

In [70]:
## threshold
df_pyspark.na.drop(how="any",thresh=2).show()

+------------+----+------+
|        Name| Age|Weight|
+------------+----+------+
|     Prabhas|  22|    90|
|     Vignesh|  23|    75|
|     Khaleel|null|    74|
|      Harsha|  23|    78|
|  JayPrakash|  22|    65|
|      Vamshi|  25|    70|
|    shashank|  23|  null|
|       Vijay|  21|    70|
|      Sravan|  22|    55|
|        Teja|null|    55|
|    Abhilash|  22|    60|
|Ravindranadh|  20|  null|
|      Kayode|  23|    65|
|       Rohit|  21|  null|
|      Nikhil|null|    89|
|       Rohan|  27|    80|
|      Naveen|  17|    57|
|       Vijay|null|    85|
+------------+----+------+

In [71]:
## subset
df_pyspark.na.drop(how="any",subset=['Age']).show()

+------------+---+------+
|        Name|Age|Weight|
+------------+---+------+
|     Prabhas| 22|    90|
|     Vignesh| 23|    75|
|      Harsha| 23|    78|
|  JayPrakash| 22|    65|
|      Vamshi| 25|    70|
|    shashank| 23|  null|
|       Vijay| 21|    70|
|      Sravan| 22|    55|
|    Abhilash| 22|    60|
|Ravindranadh| 20|  null|
|      Kayode| 23|    65|
|       Rohit| 21|  null|
|       Rohan| 27|    80|
|      Naveen| 17|    57|
|        null| 56|  null|
+------------+---+------+

In [80]:
#filling the missing values with "Missing values"
df_pyspark.na.fill("Missing values").show()

+--------------+----+------+
|          Name| Age|Weight|
+--------------+----+------+
|       Prabhas|  22|    90|
|       Vignesh|  23|    75|
|       Khaleel|null|    74|
|        Harsha|  23|    78|
|    JayPrakash|  22|    65|
|        Vamshi|  25|    70|
|      shashank|  23|  null|
|         Vijay|  21|    70|
|        Sravan|  22|    55|
|          Teja|null|    55|
|      Abhilash|  22|    60|
|  Ravindranadh|  20|  null|
|        Kayode|  23|    65|
|         Rohit|  21|  null|
|        Nikhil|null|    89|
|         Rohan|  27|    80|
|        Naveen|  17|    57|
|         Vijay|null|    85|
|Missing values|  56|  null|
|Missing values|null|   100|
+--------------+----+------+

In [88]:
##imputer function to impute values, we can use mode and median also in place of setStrategy("mean")
from pyspark.ml.feature import Imputer

imputer=Imputer(
                inputCols=["Age","Weight"],
                outputCols=["{}_imputed".format(c) for c in ["Age","Weight"]]).setStrategy("mean")

In [89]:
## using imputer function, fit(), transform()
imputer.fit(df_pyspark).transform(df_pyspark).show()

+------------+----+------+-----------+--------------+
|        Name| Age|Weight|Age_imputed|Weight_imputed|
+------------+----+------+-----------+--------------+
|     Prabhas|  22|    90|         22|            90|
|     Vignesh|  23|    75|         23|            75|
|     Khaleel|null|    74|         24|            74|
|      Harsha|  23|    78|         23|            78|
|  JayPrakash|  22|    65|         22|            65|
|      Vamshi|  25|    70|         25|            70|
|    shashank|  23|  null|         23|            73|
|       Vijay|  21|    70|         21|            70|
|      Sravan|  22|    55|         22|            55|
|        Teja|null|    55|         24|            55|
|    Abhilash|  22|    60|         22|            60|
|Ravindranadh|  20|  null|         20|            73|
|      Kayode|  23|    65|         23|            65|
|       Rohit|  21|  null|         21|            73|
|      Nikhil|null|    89|         24|            89|
|       Rohan|  27|    80|         27|            80|
|      Naveen|  17|    57|         17|            57|
|       Vijay|null|    85|         24|            85|
|        null|  56|  null|         56|            73|
|        null|null|   100|         24|           100|
+------------+----+------+-----------+--------------+

In [5]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("practise").getOrCreate()

In [6]:
df_pyspark=spark.read.csv("NameAge.csv",header=True,inferSchema=True)

In [7]:
df_pyspark.show()

+----------+---+------+
|      Name|Age|Weight|
+----------+---+------+
|   Prabhas| 22|    90|
|   Vignesh| 23|    75|
|   Khaleel| 24|    74|
|    Harsha| 23|    78|
|JayPrakash| 22|    65|
|    Vamshi| 25|    70|
|     Shiva| 25|    66|
|   Manohar| 21|    71|
|  shashank| 23|    70|
|     Vijay| 21|    70|
|    Naveen| 26|    60|
|   Goutham| 28|    88|
|    Harish| 27|    87|
|    Sravan| 22|    55|
|      Teja| 20|    55|
|    Vikram| 20|    57|
|     Kiran| 24|    60|
|  Abhilash| 22|    60|
|     Rahul| 30|    80|
|  Varshith| 28|    76|
+----------+---+------+
only showing top 20 rows

In [8]:
### filter operations
df_pyspark.filter("age>=25").show()

+---------+---+------+
|     Name|Age|Weight|
+---------+---+------+
|   Vamshi| 25|    70|
|    Shiva| 25|    66|
|   Naveen| 26|    60|
|  Goutham| 28|    88|
|   Harish| 27|    87|
|    Rahul| 30|    80|
| Varshith| 28|    76|
|    Madhu| 26|    85|
|    Akhil| 27|    85|
|      Ram| 31|    89|
|   Dinesh| 25|    80|
|    Rohan| 27|    80|
|Sampreeth| 26|    89|
|    Vijay| 29|    85|
+---------+---+------+

In [10]:
df_pyspark.filter("age>25").select(["Name"]).show()

+---------+
|     Name|
+---------+
|   Naveen|
|  Goutham|
|   Harish|
|    Rahul|
| Varshith|
|    Madhu|
|    Akhil|
|      Ram|
|    Rohan|
|Sampreeth|
|    Vijay|
+---------+

In [15]:
df_pyspark.filter((df_pyspark["age"]>25) & (df_pyspark["age"]<30)).show()

+---------+---+------+
|     Name|Age|Weight|
+---------+---+------+
|   Naveen| 26|    60|
|  Goutham| 28|    88|
|   Harish| 27|    87|
| Varshith| 28|    76|
|    Madhu| 26|    85|
|    Akhil| 27|    85|
|    Rohan| 27|    80|
|Sampreeth| 26|    89|
|    Vijay| 29|    85|
+---------+---+------+

In [19]:
# groupBy- we grouped to find the weights of person
df_pyspark.groupBy("Name")

In [18]:
df_pyspark.groupBy("Name").sum("weight").show()

+------------+-----------+
|        Name|sum(weight)|
+------------+-----------+
|       Shiva|         66|
|      Vishwa|         66|
|      Dinesh|         80|
|    shashank|         70|
|     Prabhas|         90|
|   Sampreeth|         89|
|      Harish|         87|
|     Manohar|         71|
|     Khaleel|         74|
|      Sravan|         55|
|     Vignesh|         75|
|         Ram|         89|
|       Tarun|         50|
|Ravindranadh|         64|
|  JayPrakash|         65|
|       Pavan|         55|
|     Goutham|         88|
|       Madhu|         85|
|      Kayode|         65|
|       Vijay|        155|
+------------+-----------+
only showing top 20 rows

In [20]:
df_pyspark.groupBy("Age").sum("weight").show()

+---+-----------+
|Age|sum(weight)|
+---+-----------+
| 31|         89|
| 28|        164|
| 26|        234|
| 27|        252|
| 22|        270|
| 20|        338|
| 19|        141|
| 17|        123|
| 23|        288|
| 25|        216|
| 24|        221|
| 29|         85|
| 21|        360|
| 30|         80|
| 18|         87|
+---+-----------+

In [21]:
df_pyspark.groupBy("Age").mean("weight").show()

+---+-----------------+
|Age|      avg(weight)|
+---+-----------------+
| 31|             89.0|
| 28|             82.0|
| 26|             78.0|
| 27|             84.0|
| 22|             67.5|
| 20|             67.6|
| 19|             70.5|
| 17|             61.5|
| 23|             72.0|
| 25|             72.0|
| 24|73.66666666666667|
| 29|             85.0|
| 21|             72.0|
| 30|             80.0|
| 18|             87.0|
+---+-----------------+

In [22]:
##another type to use aggregate
df_pyspark.agg({"Age":"sum"}).show()

+--------+
|sum(Age)|
+--------+
|     927|
+--------+

In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("practise").getOrCreate()

In [2]:
spark

In [7]:
training=spark.read.csv("test2.csv",header=True,inferSchema=True)

In [8]:
training.printSchema()
training.columns

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

['Name', 'age', 'Experience', 'Salary']

In [10]:
##making (age,experience) as 1 column--independent feature

In [11]:
from pyspark.ml.feature import VectorAssembler

In [15]:
featureassembler=VectorAssembler(inputCols=["age","Experience"],outputCol="independent features")
output=featureassembler.transform(training)

In [17]:
output.show()

+---------+---+----------+------+--------------------+
|     Name|age|Experience|Salary|independent features|
+---------+---+----------+------+--------------------+
|    Krish| 31|        10| 30000|         [31.0,10.0]|
|Sudhanshu| 30|         8| 25000|          [30.0,8.0]|
|    Sunny| 29|         4| 20000|          [29.0,4.0]|
|     Paul| 24|         3| 20000|          [24.0,3.0]|
|   Harsha| 21|         1| 15000|          [21.0,1.0]|
|  Shubham| 23|         2| 18000|          [23.0,2.0]|
+---------+---+----------+------+--------------------+

In [22]:
final_data=output.select("independent features","Salary")
final_data.show()

+--------------------+------+
|independent features|Salary|
+--------------------+------+
|         [31.0,10.0]| 30000|
|          [30.0,8.0]| 25000|
|          [29.0,4.0]| 20000|
|          [24.0,3.0]| 20000|
|          [21.0,1.0]| 15000|
|          [23.0,2.0]| 18000|
+--------------------+------+

In [44]:
from pyspark.ml.regression import LinearRegression
##train test data split
train_data,test_data=final_data.randomSplit([0.75,0.25])
regressor=LinearRegression(featuresCol="independent features",labelCol="Salary")
regressor=regressor.fit(train_data)

In [45]:
regressor.coefficients

DenseVector([2142.8571, -714.2857])

In [46]:
regressor.intercept

-29285.71428567377

In [47]:
pred_results=regressor.evaluate(test_data)
pred_results

In [48]:
pred_results.predictions.show()

+--------------------+------+------------------+
|independent features|Salary|        prediction|
+--------------------+------+------------------+
|          [23.0,2.0]| 18000|18571.428571427467|
|          [29.0,4.0]| 20000| 29999.99999999124|
|          [30.0,8.0]| 25000|29285.714285712187|
+--------------------+------+------------------+

In [49]:
pred_results.meanSquaredError

39564625.850275315

In [50]:
pred_results.rootMeanSquaredError

6290.04180035994

In [51]:
df=spark.read.csv("tips.csv",header=True,inferSchema=True)

In [53]:
df.printSchema()

root
 |-- total_bill: double (nullable = true)
 |-- tip: double (nullable = true)
 |-- sex: string (nullable = true)
 |-- smoker: string (nullable = true)
 |-- day: string (nullable = true)
 |-- time: string (nullable = true)
 |-- size: integer (nullable = true)

###Handling categorical features

In [54]:
from pyspark.ml.feature import StringIndexer
indexer=StringIndexer(inputCols=["sex","smoker","day","time"],outputCols=["sex_indexed","smoker_indexed","day_indexed","time_indexed"])

In [55]:
df_r=indexer.fit(df).transform(df)
df_r.show()

+----------+----+------+------+---+------+----+-----------+--------------+-----------+------------+
|total_bill| tip|   sex|smoker|day|  time|size|sex_indexed|smoker_indexed|day_indexed|time_indexed|
+----------+----+------+------+---+------+----+-----------+--------------+-----------+------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|        1.0|           0.0|        1.0|         0.0|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|         0.0|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|         0.0|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|        1.0|           0.0|        1.0|         0.0|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|         0.0|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|         0.0|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|        1.0|           0.0|        1.0|         0.0|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|         0.0|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|        1.0|           0.0|        1.0|         0.0|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|        1.0|           0.0|        1.0|         0.0|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|         0.0|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|        1.0|           0.0|        1.0|         0.0|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|        0.0|           0.0|        0.0|         0.0|
+----------+----+------+------+---+------+----+-----------+--------------+-----------+------------+
only showing top 20 rows

In [57]:
from pyspark.ml.feature import VectorAssembler

In [59]:
featureassembler=VectorAssembler(inputCols=["tip","size","sex_indexed","smoker_indexed","day_indexed","time_indexed"],outputCol="Independent feature")

In [60]:
output=featureassembler.transform(df_r)

In [61]:
output.show()

+----------+----+------+------+---+------+----+-----------+--------------+-----------+------------+--------------------+
|total_bill| tip|   sex|smoker|day|  time|size|sex_indexed|smoker_indexed|day_indexed|time_indexed| Independent feature|
+----------+----+------+------+---+------+----+-----------+--------------+-----------+------------+--------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|        1.0|           0.0|        1.0|         0.0|[1.01,2.0,1.0,0.0...|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|         0.0|[1.66,3.0,0.0,0.0...|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|         0.0|[3.5,3.0,0.0,0.0,...|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[3.31,2.0,0.0,0.0...|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|        1.0|           0.0|        1.0|         0.0|[3.61,4.0,1.0,0.0...|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|         0.0|[4.71,4.0,0.0,0.0...|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[2.0,2.0,0.0,0.0,...|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|         0.0|[3.12,4.0,0.0,0.0...|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[1.96,2.0,0.0,0.0...|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[3.23,2.0,0.0,0.0...|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[1.71,2.0,0.0,0.0...|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|        1.0|           0.0|        1.0|         0.0|[5.0,4.0,1.0,0.0,...|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[1.57,2.0,0.0,0.0...|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|         0.0|[3.0,4.0,0.0,0.0,...|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|        1.0|           0.0|        1.0|         0.0|[3.02,2.0,1.0,0.0...|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[3.92,2.0,0.0,0.0...|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|        1.0|           0.0|        1.0|         0.0|[1.67,3.0,1.0,0.0...|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|         0.0|[3.71,3.0,0.0,0.0...|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|        1.0|           0.0|        1.0|         0.0|[3.5,3.0,1.0,0.0,...|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|        0.0|           0.0|        0.0|         0.0|(6,[0,1],[3.35,3.0])|
+----------+----+------+------+---+------+----+-----------+--------------+-----------+------------+--------------------+
only showing top 20 rows

In [63]:
finalized_data=output.select("Independent feature","Total_bill")
finalized_data.show()

+--------------------+----------+
| Independent feature|Total_bill|
+--------------------+----------+
|[1.01,2.0,1.0,0.0...|     16.99|
|[1.66,3.0,0.0,0.0...|     10.34|
|[3.5,3.0,0.0,0.0,...|     21.01|
|[3.31,2.0,0.0,0.0...|     23.68|
|[3.61,4.0,1.0,0.0...|     24.59|
|[4.71,4.0,0.0,0.0...|     25.29|
|[2.0,2.0,0.0,0.0,...|      8.77|
|[3.12,4.0,0.0,0.0...|     26.88|
|[1.96,2.0,0.0,0.0...|     15.04|
|[3.23,2.0,0.0,0.0...|     14.78|
|[1.71,2.0,0.0,0.0...|     10.27|
|[5.0,4.0,1.0,0.0,...|     35.26|
|[1.57,2.0,0.0,0.0...|     15.42|
|[3.0,4.0,0.0,0.0,...|     18.43|
|[3.02,2.0,1.0,0.0...|     14.83|
|[3.92,2.0,0.0,0.0...|     21.58|
|[1.67,3.0,1.0,0.0...|     10.33|
|[3.71,3.0,0.0,0.0...|     16.29|
|[3.5,3.0,1.0,0.0,...|     16.97|
|(6,[0,1],[3.35,3.0])|     20.65|
+--------------------+----------+
only showing top 20 rows

In [75]:
from pyspark.ml.regression import LinearRegression
###train,test data split
Train_data,Test_data=finalized_data.randomSplit([0.75,0.25])
regressor=LinearRegression(featuresCol="Independent feature",labelCol="Total_bill")
regressor=regressor.fit(Train_data)

In [76]:
regressor.coefficients

DenseVector([3.0348, 3.5968, -1.5795, 2.8037, -0.2932, -0.6602])

In [77]:
regressor.intercept

1.4179675324584935

In [78]:
pred_results=regressor.evaluate(Test_data)

In [80]:
pred_results.predictions.show()

+--------------------+----------+------------------+
| Independent feature|Total_bill|        prediction|
+--------------------+----------+------------------+
|(6,[0,1],[1.25,2.0])|     10.51|12.404961210707175|
|(6,[0,1],[1.47,2.0])|     10.77|13.072614724158989|
|(6,[0,1],[1.97,2.0])|     12.02|14.590009072913114|
| (6,[0,1],[2.0,3.0])|     16.31|18.277806637020046|
| (6,[0,1],[3.0,4.0])|     20.45| 24.90934923770998|
| (6,[0,1],[3.6,3.0])|     24.06|23.133468553033246|
|(6,[0,1],[4.08,2.0])|     17.92|20.993413224655523|
| (6,[0,1],[4.3,2.0])|      21.7|21.661066738107337|
|[1.0,1.0,1.0,0.0,...|      7.25| 6.470018974843968|
|[1.0,2.0,0.0,1.0,...|      12.6|14.449958562027323|
|[1.25,2.0,1.0,0.0...|      8.51| 9.578773560665633|
|[1.5,2.0,1.0,0.0,...|     26.41|11.584167226779778|
|[1.61,2.0,1.0,1.0...|     10.59|14.721688509202897|
|[1.66,3.0,0.0,0.0...|     10.34| 16.95273383614637|
|[1.73,2.0,0.0,0.0...|      9.78| 12.61496329377405|
|[1.98,2.0,0.0,1.0...|     11.02|17.424051485585405|
|[2.0,2.0,0.0,0.0,...|     13.13|14.387808090117492|
|[2.0,2.0,0.0,1.0,...|     22.67| 17.48474725953557|
|[2.0,2.0,1.0,0.0,...|     10.33| 11.85486508379682|
|[2.0,2.0,1.0,0.0,...|     14.15| 11.85486508379682|
+--------------------+----------+------------------+
only showing top 20 rows

In [81]:
pred_results.rootMeanSquaredError

5.708372132896194