In [2]:
fruits = ['banana', 'orange', 'mango', 'lemon']  
print(len(fruits))
vegetables = ['Tomato', 'Potato', 'Cabbage','Onion', 'Carrot']      
print(len(vegetables))
animal_products = ['milk', 'meat', 'butter', 'yoghurt']             
print(len(animal_products))
web_techs = ['HTML', 'CSS', 'JS', 'React','Redux', 'Node', 'MongDB'] 
print(len(web_techs))
countries = ['Finland', 'Estonia', 'Denmark', 'Sweden', 'Norway']
print(len(countries))

4
5
4
7
5

In [8]:
all_fruits = fruits[0:]
print(all_fruits)
all_fruits = fruits[-4:]
print(all_fruits)

['banana', 'orange', 'mango', 'lemon']
['banana', 'orange', 'mango', 'lemon']

In [9]:
ages = [22, 19, 24, 25, 26, 24, 25, 24]
ages.sort()
print(ages) 
ages.sort(reverse=True)
print(ages)

[19, 22, 24, 24, 24, 25, 25, 26]
[26, 25, 25, 24, 24, 24, 22, 19]

In [7]:
age=int(input("Enter your age:"))
if age>=18:
    print("You are old enough to learn to drive.")
else:
    myorder = "You need {} more years to learn to drive."
    print(myorder.format(age - 18))

Enter your age:20
You are old enough to learn to drive.

# tuples

In [14]:
fruits = ('banana', 'orange', 'mango', 'lemon')
len(fruits)
all_fruits=fruits[-4:1]
print(all_fruits)

('banana',)

# dictionary

In [11]:
person = {
    'first_name':'Asabeneh',
    'last_name':'Yetayeh',
    'age':250,
    'country':'Finland',
    'is_marred':True,
    'skills':['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address':{
        'street':'Space street',
        'zipcode':'02210'
    }
    }
print(len(person))

print(person['skills'][0])  
print(person['address']['street']) 
print(person['city'])

7
JavaScript
Space street

KeyError: 'city'

In [12]:
person['job_title'] = 'Instructor'
person['skills'].append('HTML')
print(person)

{'first_name': 'Asabeneh', 'last_name': 'Yetayeh', 'age': 250, 'country': 'Finland', 'is_marred': True, 'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python', 'HTML'], 'address': {'street': 'Space street', 'zipcode': '02210'}, 'job_title': 'Instructor'}

In [13]:
keys = person.keys()
print(keys)

dict_keys(['first_name', 'last_name', 'age', 'country', 'is_marred', 'skills', 'address', 'job_title'])

# loops

In [15]:
count = 0
while count < 5:
    if count == 3:
        count = count + 1
        continue
    print(count)
    count = count + 1

0
1
2
4

In [16]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
for company in it_companies:
    print(company)

Apple
IBM
Microsoft
Amazon
Oracle
Google
Facebook

In [17]:
numbers = (0,1,2,3,4,5)
for number in numbers:
    print(number)
    if number == 3:
        continue
    print('Next number should be ', number + 1) if number != 5 else print("loop's end") # for short hand conditions need both if and else statements
print('outside the loop')

0
Next number should be  1
1
Next number should be  2
2
Next number should be  3
3
4
Next number should be  5
5
loop's end
outside the loop

In [18]:
for number in range(11):
    print(number)

0
1
2
3
4
5
6
7
8
9
10

In [19]:
for key in person:
    if key == 'skills':
        for skill in person['skills']:
            print(skill)

JavaScript
React
Node
MongoDB
Python
HTML

In [20]:
for i in range(1, 8):
    print('#'*i)

#
##
###
####
#####
######
#######

In [21]:
for i in range(8):
    for j in range(8):
        print('# ', end='')
    print()

# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #

In [22]:
# Generating even numbers
even_numbers = [i for i in range(21) if i % 2 == 0]  
print(even_numbers)                    

# Generating odd numbers
odd_numbers = [i for i in range(21) if i % 2 != 0]  
print(odd_numbers)

# Filter numbers: let's filter out positive even numbers from the list below
numbers = [-8, -7, -3, -1, 0, 1, 3, 4, 5, 7, 6, 8, 10]
positive_even_numbers = [i for i in range(21) if i % 2 == 0 and i > 0]
print(positive_even_numbers)                    # [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]


# Flattening a three dimensional array
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flattened_list = [ number for row in list_of_lists for number in row]
print(flattened_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
def add_two_nums(a, b):
    return a + b

print(add_two_nums(2, 3))     # 5
# lambda function
add_two_nums = lambda a, b: a + b
print(add_two_nums(2,3))    # 5

# Self invoking lambda function
(lambda a, b: a + b)(2,3) # 5 - need to encapsulate it in print() to see the result in the console

square = lambda x : x ** 2
print(square(3))    # 9
cube = lambda x : x ** 3
print(cube(3))    # 27

5
5
9
27

In [25]:
# Multiple variables
multiple_variable = lambda a, b, c: a ** 2 - 3 * b + 4 * c
print(multiple_variable(5, 5, 3)) # 22

def power(x):
    return lambda n : x ** n

cube = power(2)(3)   
print(cube)          # 8

two_power_of_five = power(2)(5) 
print(two_power_of_five)  # 32

22
8
32